export("jd_airline")
export("jd_aggregate")
export("jd_tramoseats")
export("jd_sts")
export("jd_x13")
export("jd_cholette")
export("jd_denton")
export("jd_cholette_multivar")
export("jd_td")
export("jd_seasonality")
export("jd_seasftest")
export("jd_tdftest")
# export("ts_jd2r")
export("jd_checklast")
import("rJava")
importFrom("stats", "frequency", "is.ts", "terms", "ts", "ts.union")
