export("jd_airline")
export("jd_aggregate")
export("jd_tramoseats")
export("jd_sts")
export("jd_x13")
export("jd_cholette")
export("jd_denton")
export("jd_td")
export("jd_seasonality")
export("jd_seasftest")
import("rJava")
